---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "../lib/sanity";

type Category = {
  _id: string;
  name: string;
  slug: string;
};

const categories: Category[] = await sanityClient.fetch(`
  *[_type == "category"] | order(order asc) {
    _id,
    name,
    "slug": slug.current
  }
`);
---

<Layout>
  <main class="max-w-4xl mx-auto py-16">
    <h1 class="text-3xl font-bold mb-8">Categories</h1>

    <ul class="space-y-4">
      {categories.map((cat) => (
        
        <li>
  <a
    href={`/${cat.slug}`}
    class="text-xl text-blue-400 hover:underline"
  >
    • {cat.name}
  </a>
</li>



      ))}
    </ul>
  </main>
</Layout>
